<div class="leaderboard-container">
<p>
  LEADER BOARD
</p>
<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
  .tg .tg-w3z3{font-weight:bold;font-size:15px;font-family:"Trebuchet MS", Helvetica, sans-serif !important;;text-align:left;vertical-align:top}
  .tg .tg-wt0f{font-weight:bold;font-size:15px;font-family:"Trebuchet MS", Helvetica, sans-serif !important;;text-align:left;vertical-align:middle}
  </style>
  
  <ng-container *ngIf="selectedPlayer === -1">
    <table class="tg">
      <tr>
        <th class="tg-w3z3">Player</th>
        <th class="tg-w3z3">Winning Percentage</th>
        <th class="tg-w3z3">Number of Games</th>
        <th class="tg-w3z3">Wins</th>
        <th class="tg-w3z3">Losses</th>
        <th class="tg-w3z3">Ties</th>
        <th class="tg-w3z3">Rocks Thrown (%)</th>
        <th class="tg-w3z3">Papers Thrown (%)</th>
        <th class="tg-w3z3">Scissors Thrown (%)</th>
      </tr>
      <ng-container >
        <tr *ngFor="let playerStat of playerStats"  >
          <td> <button (click)="showPlayer( playerStat.player.id )" > {{playerStat.player.name}} </button>   </td>
          <td class="ps-winpercent-{{playerStat.player.id}}" >{{playerStat.winPercentage}}</td>
          <td>{{playerStat.gamesPlayed}}</td>
          <td>{{playerStat.gamesWon}}</td>
          <td>{{playerStat.gamesLost}}</td>
          <td>{{playerStat.gamesTies}}</td>
          <td>{{playerStat.rockPercent}}</td>
          <td>{{playerStat.paperPercent}}</td>
          <td>{{playerStat.scissorsPercent}}</td>
        </tr>
      </ng-container>
      
    </table>
    <button class="refresh" (click)="getPlayerStats()" >Refresh</button>
</ng-container>

<ng-container *ngIf="selectedPlayer != -1">
  <table class="tg">
    <tr>
      <th class="tg-w3z3">Opponent</th>
      <th class="tg-w3z3">Result</th>
      <th class="tg-w3z3">Player Throw</th>
      <th class="tg-w3z3">Opponent Throw</th>
    </tr>
    <ng-container >
      <tr *ngFor="let gameRecord of gameRecords"  >
        <td>{{gameRecord.opponent.name}}</td>
        <td>{{gameRecord.result}}</td>
        <td>{{gameRecord.playerThrow}}</td>
        <td>{{gameRecord.opponentThrow}}</td>
      </tr>
    </ng-container>
    
  </table>
  <button (click)="showPlayer(-1)" >Back</button>
</ng-container>
</div>


