<div class="container">
  <div class=toggle>
    <mat-label for="gameModeToggle" *ngIf="isPracticeGame === false">Ranked</mat-label>
    <mat-label for="gameModeToggle" *ngIf="isPracticeGame === true">Practice</mat-label>
    <mat-slide-toggle id="gameModeToggle" [checked]="isPracticeGame" (change)="flipToggle()"></mat-slide-toggle> <!-- container centers content on large screens -->
  </div>

  
  <div class="row" [formGroup]="gameForm"> 
               <!-- responsive row has 12 columns by default -->
    <div class="player-container">    
    <ng-container *ngIf="isPracticeGame === false">
          <div class="name">
              <mat-label for="player1Name">Player 1 Name</mat-label>
              <mat-select id="player1Name" formControlName="selectedPlayer1" class="mat-select-custom">
                <mat-option *ngFor="let player of playerList" [value]="player">
                  {{player.name}}
                </mat-option>
              </mat-select>
          </div>
      </ng-container>
      
      <div class="throw">
        <mat-label for="player1Throw">Throw</mat-label>
        <mat-select id="player1Throw" formControlName="player1Throw" class="mat-select-custom">
          <mat-option [value]="undefined">Select a value</mat-option>
          <mat-option *ngFor="let p1Throw of throwTypes" [value]="p1Throw">
            {{throwLocalization[p1Throw]}}</mat-option>
        </mat-select>
      </div>
    </div>

    <div class="player-container">    

    <ng-container *ngIf="isPracticeGame === false">
        <div class="name">
          <mat-label for="player2Name">Player 2 Name</mat-label>
          <mat-select id="player2Name" formControlName="selectedPlayer2" class="mat-select-custom">
            <mat-option *ngFor="let player of playerList" [value]="player">
              {{player.name}}
            </mat-option>
          </mat-select>
        </div>
      </ng-container>

      <div class="throw">
        <mat-label for="player2Throw">Throw</mat-label>
        <mat-select id="player2Throw" formControlName="player2Throw" class="mat-select-custom">
          <mat-option [value]="undefined">Select a value</mat-option>
          <mat-option *ngFor="let p2Throw of throwTypes" [value]="p2Throw">
            {{throwLocalization[p2Throw]}}</mat-option>
        </mat-select>
      </div>
    </div>

  </div>
  <div class="row" >
      <button id="submit-ranked" mat-raised-button color="primary" *ngIf="isPracticeGame === false" [disabled]="!gameForm.valid" (click)="processRankedGame()" class="submit-button">Submit</button>
      <button id="submit-practice" mat-raised-button color="primary" *ngIf="isPracticeGame === true" [disabled]="!gameForm.valid" (click)="processPracticeGame()" class="submit-button">Submit</button>
      
      <p id="game-outcome">{{mostRecentOutcome}}</p>
  </div>
</div>