/* .sidebar-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.sidenav-drawer {
    background-color: white;
    height: 100%;
    width: 125px;
}

.sidenav-drawer2 {
    height: 50%;
    width: 70px;
} */



.mat-sidenav-container {
    height: 100%;
    width: 320px;
    position: absolute;
    z-index: 999999;
    background-image: linear-gradient(to top right, #4b6cb7, #182848);
  }
  
  .mat-sidenav-content {
    width: 320px;
  }
  
  .toolbar-title {
    margin: 0 16px 0 16px;
  }
  
  .mat-subheader {
    font-size: 18px;
    font-weight: 900;
  }
  
  .app-nav-list-icon {
    margin: 0 12px 0 12px;
  }

  .list-item-active {
    font-weight: bold;
    color: mat-color(#4b6cb7, darker) !important;
    background: rgba(0, 0, 0, 0.04);
  }