   <mat-sidenav-container #sidebar autosize>
      <mat-sidenav> 
         
      </mat-sidenav>
    <mat-sidenav-content mode="over" role="navigation">
      <mat-nav-list>
        <h2 matSubheader> Games </h2>

        <a mat-list-item routerLink="/" style="height: 0;"></a>

        <a mat-list-item routerLink="/leaderboard" routerLinkActive="list-item-active" (click)="closeSideNav.emit()">
          <mat-icon matListIcon class="app-nav-list-icon">bar_chart</mat-icon>
          Leaderboard
        </a>
        <br />
        <a mat-list-item routerLink="/play" routerLinkActive="list-item-active" (click)="closeSideNav.emit()">
          <mat-icon matListIcon class="app-nav-list-icon">games</mat-icon>
          Play Game
        </a>
      </mat-nav-list>
    </mat-sidenav-content>
   </mat-sidenav-container>


   <!-- <mat-sidenav-container style="height: 300px;" *ngIf="isDisplayed">
      <mat-sidenav #sidenav mode="over" [opened]="toggled" class="sidenav" style="width: 200px;">
        <p>Sidenav</p>
      </mat-sidenav>
      <mat-sidenav-content>
        <p>Sidenav content hidden behing the sidenav.</p>
      </mat-sidenav-content>
    </mat-sidenav-container>   -->