<div class="container">
  <div class="toggle">
    <app-slider label="Practice Mode" [control]="practiceMode"></app-slider>
  </div>

  <form [formGroup]="gameForm" (ngSubmit)="play()">
    <div class="player-container">
      <app-select
        [control]="gameForm.get('player1')"
        label="Player 1 Name"
        [options]="playerList$ | async"
      ></app-select>

      <div class="throw">
        <app-select
          [control]="gameForm.get('player1Throw')"
          label="Throw"
          [options]="throwTypes"
        ></app-select>
      </div>
    </div>

    <div class="player-container">
      <app-select
        [control]="gameForm.get('player2')"
        label="Player 2 Name"
        [options]="playerList$ | async"
      ></app-select>

      <div class="throw">
        <app-select
          [control]="gameForm.get('player2Throw')"
          label="Throw"
          [options]="throwTypes"
        ></app-select>
      </div>
    </div>
    <app-submit [form]="gameForm"></app-submit>
  </form>
  <div class="row">
    <pre id="game-outcome">{{ (gameResult$ | async)?.outcome }}</pre>
  </div>
</div>
