<mat-toolbar class="crm-navigation-bar">

    <mat-toolbar-row>
  
      <button mat-icon-button id="hamburger-stack" (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
  
      <span class="toolbar-title"> Rock, Paper & Scissors</span>
  
      <div class="align-right">
  
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
  
          <li fxHide.xs>
            <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
          </li>
  
          <li fxHide.xs>
            <button mat-icon-button>
              <mat-icon>help_outline</mat-icon>
            </button>
          </li>
  
          <li>
            <button mat-icon-button [matMenuTriggerFor]="auth">
              <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #auth="matMenu">
              <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign out</span>
              </button>
            </mat-menu>
          </li>
  
        </ul>
  
      </div>
  
    </mat-toolbar-row>
  
  </mat-toolbar>

  <app-sidebar  *ngIf="showSideNav" (closeSideNav)="showSideNav = !showSideNav" ></app-sidebar>
  <!-- <div class="col-9 content">
      <router-outlet></router-outlet>
</div> -->

